@import "tailwindcss";
@keyframes pageSlideIn {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.96);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.page-enter {
  animation: pageSlideIn 0.8s ease-out forwards;
}
